<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基于区块链的团队科研共享填报系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="css/indexCSS.css" rel="stylesheet">

   <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/index"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="menu-title">MENU</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>团队</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="/index">控制台</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="/index/members">团队成员</a></li>
                            <li><i class="fa fa-puzzle-piece"></i><a href="/myteam">我管理的团队</a></li>
                            <li><i class="fa fa-puzzle-piece"></i><a href="/newteam">新建团队</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>科研项目</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/index/projectform">项目填报</a></li>
                            <li><i class="fa fa-table"></i><a href="/creatproject">新建项目</a></li>
                            <li><i class="fa fa-table"></i><a href="/index/projectlist">项目列表</a></li>
                            <li><i class="fa fa-table"></i><a href="members.html">文件管理</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>动态</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="projectform.html">时间线</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index"><img src="images/newbrand.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/index"><img src="images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${session.user.name}"></span>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#">修改个人信息</a>
                            <a class="nav-link" href="#">退出</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
            <!-- 选择团队 -->
                <div class="row" style="margin-bottom: 15px;">

                    <div class="col-lg-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                选择所在团队
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu teamdropdown" aria-labelledby="dropdownMenu1">
<!--                                <li><a href="#">Action</a></li>-->
<!--                                <li><a href="#">Another action</a></li>-->
<!--                                <li><a href="#">Something else here</a></li>-->
<!--                                <li role="separator" class="divider"></li>-->
<!--                                <li><a href="#">Separated link</a></li>-->
                                <span th:each="t:${teamlist}">
                                    <li><a href="javascript:void(0)" class="teamlist" th:text="${t?.teamid}+'-'+${t?.teamname}" ></a></li>
                                </span>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control addteamid" placeholder="输入要加入的团队编号">
                            <span class="input-group-btn">
                                <button class="btn btn-default addteam" type="button">加入</button>
                            </span>
                        </div>
                    </div>

                </div>
                <!-- Widgets  -->
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">团队名称</div>
                                        <div class="stat-digit tname" th:text="${team?.teamname}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">团队负责人</div>
                                        <div class="stat-digit tleader" th:text="${team?.leader}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="pe-7s-users text-warning border-warning"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">团队人数</div>
                                        <div class="stat-digit tmemberscount" th:text="${memberscount}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-clock-o text-danger border-danger"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">团队建立时间</div>
                                        <div class="stat-digit tsettime" style="font-size: medium;" th:text="${team?.establishtime}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-bookmark text-success border-success"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">项目数</div>
                                        <div class="stat-digit projectcount" th:text="${projectcount}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-fort-awesome text-primary border-primary"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">所在高校</div>
                                        <div class="stat-digit" style="font-size: medium;" th:text="${user?.school}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-home text-warning border-warning"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">所在院系</div>
                                        <div class="stat-digit" th:text="${user?.college}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /Widgets -->

                <!--  Traffic  -->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="box-title">Traffic </h4>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-8">-->
<!--                                    <div class="card-body">-->
<!--                                        &lt;!&ndash; <canvas id="TrafficChart"></canvas>   &ndash;&gt;-->
<!--                                        <div id="traffic-chart" class="traffic-chart"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-4">-->
<!--                                    <div class="card-body">-->
<!--                                        <div class="progress-box progress-1">-->
<!--                                            <h4 class="por-title">Visits</h4>-->
<!--                                            <div class="por-txt">96,930 Users (40%)</div>-->
<!--                                            <div class="progress mb-2" style="height: 5px;">-->
<!--                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="progress-box progress-2">-->
<!--                                            <h4 class="por-title">Bounce Rate</h4>-->
<!--                                            <div class="por-txt">3,220 Users (24%)</div>-->
<!--                                            <div class="progress mb-2" style="height: 5px;">-->
<!--                                                <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="progress-box progress-2">-->
<!--                                            <h4 class="por-title">Unique Visitors</h4>-->
<!--                                            <div class="por-txt">29,658 Users (60%)</div>-->
<!--                                            <div class="progress mb-2" style="height: 5px;">-->
<!--                                                <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="progress-box progress-2">-->
<!--                                            <h4 class="por-title">Targeted  Visitors</h4>-->
<!--                                            <div class="por-txt">99,658 Users (90%)</div>-->
<!--                                            <div class="progress mb-2" style="height: 5px;">-->
<!--                                                <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div> &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; /.row &ndash;&gt;-->
<!--                            <div class="card-body"></div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /# column &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;  /Traffic &ndash;&gt;-->
                <div class="clearfix"></div>
                <!-- Orders -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
<!--                                    <h4 class="mb-3">Line Chart</h4>-->
                                    <div class="flot-container">
                                        <div id="flot-line" style="width: 100%;height: 300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>  <!-- /.col-lg-8 -->

                        <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <!--                                    <h4 class="mb-3">Line Chart</h4>-->
                                        <div class="flot-container">
                                            <div id="pie-chart" style="width: 100%;height: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                        </div> <!-- /.col-md-4 -->
                    </div>
                <!-- /.orders -->

                <!-- Modal - Calendar - Add New Event -->
                <div class="modal fade none-border" id="event-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><strong>Add New Event</strong></h4>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#event-modal -->
                <!-- Modal - Calendar - Add Category -->
                <div class="modal fade none-border" id="add-category">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><strong>Add a category </strong></h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label">Category Name</label>
                                            <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Choose Category Color</label>
                                            <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                <option value="success">Success</option>
                                                <option value="danger">Danger</option>
                                                <option value="info">Info</option>
                                                <option value="pink">Pink</option>
                                                <option value="primary">Primary</option>
                                                <option value="warning">Warning</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /#add-category -->
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>

    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script type="text/javascript" src="js/JQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/index_function.js"></script>

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

    <script>
        //折线图
        var myChart = echarts.init(document.getElementById('flot-line'));

        // 指定图表的配置项和数据
        var option = {
            title:{
                text:'近年项目申报数'
            },
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth: true
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        //饼图
        var pie = echarts.init(document.getElementById('pie-chart'));
        var option2 = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['横向', '纵向']
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {value: 12, name: '横向'},
                        {value: 5, name: '纵向'}
                    ]
                }
            ]
        };
        pie.setOption(option2);
    </script>

</script>
</body>
</html>
